In [1]:
import pandas as pd
import numpy as np

In [2]:
# importing data and loading into a dataframe 
path = "https://raw.githubusercontent.com/10Dennisw/house-price-prediction/main/datasets/amsterdam-house-prices-clean.csv"

df = pd.read_csv(path)
df

,Address,Zip,Price,Area,Room,Lon,Lat,Area Code,Borough,Price (log),Area (log),Index
0,"Blasiusstraat 8 2, Amsterdam",1091 CR,685000.0,64,3,4.907736,52.356157,1091,Oost,13.437174,4.158883,0
1,"Kromme Leimuidenstraat 13 H, Amsterdam",1059 EL,475000.0,60,3,4.850476,52.348586,1059,West,13.071070,4.094345,1
2,"Zaaiersweg 11 A, Amsterdam",1097 SM,850000.0,109,4,4.944774,52.343782,1097,Oost,13.652992,4.691348,2
3,"Tenerifestraat 40, Amsterdam",1060 TH,580000.0,128,6,4.789928,52.343712,1060,Nieuw West,13.270783,4.852030,3
4,"Winterjanpad 21, Amsterdam",1036 KN,720000.0,138,5,4.902503,52.410538,1036,Noord,13.487006,4.927254,4
...,...,...,...,...,...,...,...,...,...,...,...,...
912,"Ringdijk, Amsterdam",1097 AE,750000.0,117,1,4.927757,52.354173,1097,Oost,13.527828,4.762174,919
913,"Kleine Beerstraat 31, Amsterdam",1033 CP,350000.0,72,3,4.890612,52.414587,1033,Noord,12.765688,4.276666,920
914,"Stuyvesantstraat 33 II, Amsterdam",1058 AK,350000.0,51,3,4.856935,52.363256,1058,West,12.765688,3.931826,921
915,"John Blankensteinstraat 51, Amsterdam",1095 MB,599000.0,113,4,4.965731,52.375268,1095,Oost,13.303017,4.727388,922
916,"S. F. van Ossstraat 334, Amsterdam",1068 JS,300000.0,79,4,4.810678,52.355493,1068,Nieuw West,12.611538,4.369448,923

### Creating the XGBoost Model

In [3]:
# creating the prediction dataframe
prediction_df = df[['Price (log)','Area (log)','Room','Borough']]
prediction_df

     Price (log)  Area (log)  Room     Borough
0      13.437174    4.158883     3        Oost
1      13.071070    4.094345     3        West
2      13.652992    4.691348     4        Oost
3      13.270783    4.852030     6  Nieuw West
4      13.487006    4.927254     5       Noord
..           ...         ...   ...         ...
912    13.527828    4.762174     1        Oost
913    12.765688    4.276666     3       Noord
914    12.765688    3.931826     3        West
915    13.303017    4.727388     4        Oost
916    12.611538    4.369448     4  Nieuw West

[917 rows x 4 columns]

In [4]:
# one hot encoding the borough variable so that the model can interpret it
area_code_df = prediction_df['Borough']
area_code_df = pd.get_dummies(area_code_df, columns=['Borough'])
area_code_df = area_code_df.astype(int)

In [5]:
# merging the dataframe
prediction_df = pd.merge(prediction_df, area_code_df, left_index=True, right_index=True, how='left')
prediction_df.drop('Borough', axis=1, inplace=True)
prediction_df

,Price (log),Area (log),Room,Centrum,Nieuw West,Noord,Oost,West,Zuid,Zuidoost
0,13.437174,4.158883,3,0,0,0,1,0,0,0
1,13.071070,4.094345,3,0,0,0,0,1,0,0
2,13.652992,4.691348,4,0,0,0,1,0,0,0
3,13.270783,4.852030,6,0,1,0,0,0,0,0
4,13.487006,4.927254,5,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
912,13.527828,4.762174,1,0,0,0,1,0,0,0
913,12.765688,4.276666,3,0,0,1,0,0,0,0
914,12.765688,3.931826,3,0,0,0,0,1,0,0
915,13.303017,4.727388,4,0,0,0,1,0,0,0
916,12.611538,4.369448,4,0,1,0,0,0,0,0

In [6]:
# importing modules to for cretaing, training and evaluating the model
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

In [7]:
# Splitting the data into features and target variables
X = prediction_df.drop('Price (log)', axis=1)
y = prediction_df['Price (log)']

In [8]:
# Split the data into training, validation and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_val, X_test, y_val, y_test = train_test_split(X_test, y_test, test_size=0.5, random_state=42)

In [9]:
# importing for random and grid search for hyperparameter tuning
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV

In [11]:
# creating Random Forest regressor
rf = RandomForestRegressor()

max_depth_search_space = [None] + list(np.arange(10, 60, 10))
# creating parameter distribution with random variables with numpy
param_distributions = {
    'n_estimators': np.arange(100, 600, 100),
    'max_depth': max_depth_search_space,
    'min_samples_split': np.arange(2, 11, 1),
    'min_samples_leaf': np.arange(1, 5, 1)
}

# configuring RandomizedSearchCV
random_search = RandomizedSearchCV(rf, param_distributions=param_distributions, n_iter=100, cv=3, verbose=2, random_state=42, n_jobs=-1)

# Performing the random search to find the best hyperparameters
random_search.fit(X_train, y_train)

# printing the best parameters 
print("Best parameters:", random_search.best_params_)

# Evaluating the best model on the val dataset
best_model = random_search.best_estimator_
predictions = best_model.predict(X_val)
r2 = r2_score(y_val, predictions)
print("The R^2 on Validation Set:", r2)

Fitting 3 folds for each of 100 candidates, totalling 300 fits
Best parameters: {'n_estimators': 200, 'min_samples_split': 7, 'min_samples_leaf': 2, 'max_depth': 30}
The R^2 on Validation Set: 0.847827365419644

In [15]:
# creating parameter distribution with variables based on the random search results
param_distributions = {
    'n_estimators': [random_search.best_params_['n_estimators']-50, random_search.best_params_['n_estimators'], random_search.best_params_['n_estimators']+50],
    'max_depth': [random_search.best_params_['max_depth']-10, random_search.best_params_['max_depth'], random_search.best_params_['max_depth']+10],
    'min_samples_split': [random_search.best_params_['min_samples_split']-1, random_search.best_params_['min_samples_split'], random_search.best_params_['min_samples_split']+1],
    'min_samples_leaf': [random_search.best_params_['min_samples_leaf']-1, random_search.best_params_['min_samples_leaf'], random_search.best_params_['min_samples_leaf']+1]
}

# configuring and performing grid search 
grid_search = GridSearchCV(estimator=rf, param_grid=param_distributions, cv=3, scoring='neg_mean_squared_error', verbose=2, n_jobs=-1)
grid_search.fit(X_train, y_train)

# printing best parameters that were found based on parameters
print("Best parameters found: ", grid_search.best_params_)

# Evaluate the best model on the test set
best_model = grid_search.best_estimator_
predictions = best_model.predict(X_val)
r2 = r2_score(y_val, predictions)
print("The R^2 on Validation Set:", r2)

Fitting 3 folds for each of 81 candidates, totalling 243 fits
Best parameters found:  {'max_depth': 20, 'min_samples_leaf': 2, 'min_samples_split': 7, 'n_estimators': 200}
The R^2 on Validation Set: 0.8509729302356229

In [16]:
# Defining XGBoost model parameters
params = grid_search.best_params_

# Defining the model
RandomForestRegressor(**params, random_state=42)

# Training the model
rf.fit(X_train, y_train)

# Predicting on the test data
preds = rf.predict(X_test)

# Evaluating the model based on r2 and MSE 
r2 = r2_score(y_test, preds)
print(f"R^2: {r2}")
rmse = mean_squared_error(y_test, preds, squared=False)
print(f"RMSE: {rmse}")

R^2: 0.8782501567874158
RMSE: 0.18715930216212864